*.sh
.project
.pydevproject
.settings
*.pyc
test1.py
runs*
augment_shuffle_images
logs
build
.catkin_tools
devel
logs
install
result_screenshots
.idea
.ipy*
*.slqurm
*.out
*.pth
.ipynb_checkpoints/*
ipython/test_img
*.pkl
ipython/*.png
test_images/*
zod_dataset/annotation
zod_dataset/annotation_lidar_only
zod_dataset/lidar_png
zod_dataset/camera
zod_dataset/annotation_camera_only
zod_dataset/annotation_fusion
waymo_dataset/labeled
venv
paper
paper2
paper_sam
